    html {
        font-size: ;
    }
    
    body {
        background: #fff;
    }
    
    #main {
        background: #eee;
        margin: 30px 8px;
        border-radius: 5px;
        padding: 15px;
    }
    
    #img-div {
        background: #fff;
        padding: 5px;
    }